html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: $mainBackground;
    background-image: url('/design/desktop-design.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

/* GRID */
.limited {
    max-width: 1080px; 
    margin: auto; }

.row { 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 85px; }

.column { padding: 0; margin: 0;}

main img {width: 100%; height: auto;}

main h1, main h3 { 
    color: $primaryColor;
    font-style: italic;
    margin: .5rem 0 .1rem 0; }

main {
    h1 { font-size: 2rem; }

    h3 { font-size: 1.2rem; }

    p {
        font-size: 1.2rem;
        margin: 0 0 .3rem 0; }
}// end of main

section {
    
    height: 446px;
    // overflow: hidden;
}

section:first-child {
    border-radius: 10px 0 0 10px;
    color: $mainHeading;
    padding-top: 35px;
    padding-left: 55px;
    font-size: 28px;
}

section p {
    color: $mainParagraph;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
    margin-top: -12px;
    padding: 0;
    padding-right: 100px;
}

section ul { list-style: none; }

section ul li {
    float: left;
}

section:last-child {
    border-radius: 0 10px 10px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background: linear-gradient(
      rgba(161, 85, 207, 0.85), 
      rgba(161, 85, 207, 0.85)
    ),
    url('/images/image-header-desktop.jpg');    
}

.accent { color: $accent; }

// create .small-1 - .small-12 
@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}